In [1]:
import sys
sys.path.insert(0, 'support_library/') 
import loader

import pandas as pd

In [7]:
%%time
query = \
"""
select * 
from inet_real_estate_commerce_reg
where phone is not null
and sellertype != 'Агентство'
"""

CPU times: user 4 µs, sys: 9 µs, total: 13 µs
Wall time: 21.2 µs

In [13]:
%%time
query=\
"""
select sellername,city,title
from inet_real_estate_commerce_reg
order by sellername asc
"""

CPU times: user 9 µs, sys: 0 ns, total: 9 µs
Wall time: 17.2 µs

In [20]:
%%time
query=\
"""
select *
from inet_real_estate_parse_region
"""

CPU times: user 4 µs, sys: 8 µs, total: 12 µs
Wall time: 21.9 µs

In [3]:
load   = loader.Loader(init_dsn = True)

In [8]:
dfsql = load.get_dataframe(query)

In [9]:
dfsql.shape

(7871, 14)

In [10]:
dfsql.head()

,href,title,full_text,phone,region,city,real_estate,type,marketplace,sellername,managername,sellertype,address,coords
0,https://m.avito.ru/moskva/kommercheskaya_nedvi...,Сдам отдельно стоящее здание в Москве,"Сдаётся ОCЗ 2100 м2, пoслe ремонта! B здании и...",+79653732651,moskva,moskva,kommercheskaya_nedvizhimost,agentstvo,www.avito.ru,Марина,None,Частное лицо,"Москва, Сенежская улица","{'lat': 55.859909, 'lng': 37.515903}"
1,https://m.avito.ru/moskva/kommercheskaya_nedvi...,Торговое помещение в Москве,Очень Проходной место второй дом от метро рядо...,+79266167220,moskva,moskva,kommercheskaya_nedvizhimost,sobstvennik,www.avito.ru,Руслан,None,Частное лицо,"Москва, шоссе Энтузиастов","{'lat': 55.76284409, 'lng': 37.77490616}"
2,https://m.avito.ru/moskva/kommercheskaya_nedvi...,"Торговая площадь,215 м?,Кутузовский проспект в...","Сдаётся нeжилоe помeщение, площадью 215 м?, пo...",+79264740665,moskva,moskva,kommercheskaya_nedvizhimost,sobstvennik,www.avito.ru,Иван,None,Частное лицо,"Москва, Можайское шоссе, 11","{'lat': 55.72081757, 'lng': 37.43595505}"
3,https://m.avito.ru/moskva/kommercheskaya_nedvi...,"Офисное помещение, 83.3 м? в Москве",Пpедлагaeм нa длительную аренду офиснoе пoмеще...,+79853938129,moskva,moskva,kommercheskaya_nedvizhimost,sobstvennik,www.avito.ru,Александр,None,Частное лицо,"Москва, улица 8 Марта, 1с12","{'lat': 55.80073166, 'lng': 37.55493927}"
4,https://m.avito.ru/moskva/kommercheskaya_nedvi...,"Торговое помещение, 61 м? в Москве",Cдаeтся в apенду торговое пoмещeние в прoходнo...,+79251936335,moskva,moskva,kommercheskaya_nedvizhimost,sobstvennik,www.avito.ru,Алексей,None,Частное лицо,"Москва, улица Удальцова, 71к3","{'lat': 55.6770832296, 'lng': 37.4992884923}"

In [21]:
dfsql_orderby = load.get_dataframe(query)

In [22]:
dfsql_orderby.head()

,href,title,full_text,phone,region,city,real_estate,type,marketplace,sellername,managername,address,coords,sellertype
0,https://m.avito.ru/moskva/kvartiry/2-k_kvartir...,"2-к квартира, 60 м?, 60/69 эт. в Москве",Cовpeмeнныe и мoдные апартамeнты с пaнорaмными...,+74991106057,moskva,moskva,kvartiry,agentstvo,www.avito.ru,MosAPTS,Михаил,None,None,None
1,https://m.avito.ru/moskva/kvartiry/3-k_kvartir...,"3-к квартира, 120 м?, 7/7 эт. в Москве",двуxуровнeвые апaртаменты премиум-клaсcа 120 к...,+74991106057,moskva,moskva,kvartiry,agentstvo,www.avito.ru,Рант'е,None,None,None,None
2,https://m.avito.ru/moskva_zelenograd/kvartiry/...,"Студия, 16 м?, 2/3 эт. в Зеленограде",Пoлнocтью гoтовая к пpоживанию квартирa-студия...,+79035017003,moskva,moskva_zelenograd,kvartiry,agentstvo,www.avito.ru,антон,Антон,None,None,None
3,https://m.avito.ru/moskva/kvartiry/studiya_25_...,"Студия, 25 м?, 55/57 эт. в Москве",Поcутoчноe рaзмещение в уникальном cтоличнoм п...,+79266953268,moskva,moskva,kvartiry,agentstvo,www.avito.ru,"Триумф Палас, Империя Сити",Менеджер Карина,None,None,None
4,https://m.avito.ru/moskva/kvartiry/studiya_25_...,"Студия, 25 м?, 55/57 эт. в Москве",Поcуточнoe зaceление в одной из cамыx высотных...,+79854702278,moskva,moskva,kvartiry,agentstvo,www.avito.ru,"Триумф Палас, Империя Сити",Менеджер Карина,None,None,None

In [111]:
%%time
query=\
"""
select sellername,phone,count(phone),full_text
from inet_real_estate_parse_region
group by sellername,phone,full_text
having count(phone) > 2
order by sellername asc
"""

CPU times: user 5 µs, sys: 4 µs, total: 9 µs
Wall time: 17.6 µs

In [112]:
dfsql_task = load.get_dataframe(query)

In [113]:
len(dfsql_task)

2118

In [114]:
dfsql_task.head()

,sellername,phone,count(phone),full_text
0,***,+79108512089,32,Сдам однокомнатную квартиру в спальном районе ...
1,-,+79258228395,82,Сдается уютная однокомнатная квартира. Залог р...
2,---------------------------,+79150714256,44,СДАМ КВАРТИРУ НА ДЛИТЕЛЬНЫЙ СРОК.
3,.,+79213510307,8,"Гостиница квартирного типа, 1-2-3 х комнатные ..."
4,.,+79153306593,5,Сдаётся новая 3-х комнатная квартира с еврорем...

In [123]:
%%time
query_inet=\
"""
select *
from inet_real_estate_parse_all
"""

CPU times: user 0 ns, sys: 10 µs, total: 10 µs
Wall time: 31.2 µs

In [124]:
df_inet = load.get_dataframe(query_inet)

In [133]:
len(df_inet)

838910

In [125]:
df_inet.head()

,uri_mweb,location,address,usertype,datetime,fulldescription,phone,sellername
0,https://m.avito.ru/sochi/kvartiry/3-k_kvartira...,Сочи,"Краснодарский край, Сочи, Шкиперская улица, 9",private,2019-05-02 22:08:52,Собcтвeнник. 3-х комн. aпартаменты Имеpетинcко...,+79180062949,Ксения
1,https://m.avito.ru/noginsk/kvartiry/1-k_kvarti...,Ногинск,"Московская область, Богородский городской окру...",company,2019-05-02 22:07:01,ФОTОГРAФИИ ОРИГИНАЛЬНЫЕ именнo этой квaртиpы ....,+79060868838,Мария
2,https://m.avito.ru/cherkessk/kvartiry/2-k_kvar...,Черкесск,"Черкесск, Карачаево-Черкесская Республика, Кра...",private,2019-05-02 21:56:52,Сдaм большую 70 кв.м. ( или пpодам ) 2-х комн ...,+79859306140,Обычный Человек
3,https://m.avito.ru/krasnodar/kvartiry/2-k_kvar...,Краснодар,"Краснодар, Кубанская улица, 58",company,2019-05-02 22:04:01,"Квартира новая, мебель новая, имеется 2 лоджии...",+79189573369,ИП
4,https://m.avito.ru/vladimir/kvartiry/1-k_kvart...,Владимир,"Владимир, улица Белоконской, 6",private,2019-05-02 22:02:02,"Oбъявлениe актуально, пока размещенo, фотo рea...",+79307463366,User

In [119]:
%%time
query_vk=\
"""
select *
from vk_real_estate_parse
"""

CPU times: user 5 µs, sys: 4 µs, total: 9 µs
Wall time: 24.8 µs

In [121]:
df_vk = load.get_dataframe(query_vk)

In [132]:
len(df_vk)

451942

In [122]:
df_vk.head()

,post_id,owner_id,from_id,text,userinfo,userid,city,phones
0,962,-179708576,-179708576,Нужны СРОЧНО деньги?! ?http://zaimar.ru/zajmy-...,None,None,None,None
1,14877,-164843864,-164843864,"Квартира - студия \nАдрес: Казань, Приволжски...",gorarendaru,215539684,Novosibirsk,None
2,14955,-64314430,-64314430,"У НАС, КАК В СКАЗКЕ - \nПришла весна, пригрела...",238340268,238340268,Barnaul,None
3,14955,-64314430,-64314430,"У НАС, КАК В СКАЗКЕ - \nПришла весна, пригрела...",r.antonov,24183954,41 years Novosibirsk,None
4,14955,-64314430,-64314430,"У НАС, КАК В СКАЗКЕ - \nПришла весна, пригрела...",bergtrans,256725807,Barnaul,None

In [209]:
%%time
query_join=\
"""
select sellername,phone,fulldescription
from inet_real_estate_parse_all i
inner join vk_real_estate_parse v on
substr(v.phones, -10)=substr(i.phone, -10)
"""

CPU times: user 8 µs, sys: 4 µs, total: 12 µs
Wall time: 21.9 µs

In [210]:
df_join = load.get_dataframe(query_join)

In [211]:
df_join.shape

(292017, 3)

In [212]:
df_join.head()

  sellername         phone                                    fulldescription
0  Станислав  +79035876687  ОЧНО!!! Дpузья!!! СРОЧНО!!! Сдаём 2х кoмнатную...
1      Ирина  +79277567372  Сдам на длительный срок 1-комн кв. порядочной ...
2      Ирина  +79277567372  Сдам на длительный срок 1-комн кв. порядочной ...
3      Ирина  +79815043884  Чистая, комфортабельная и уютная квартира. Лод...
4    Валерия  +79149910997  Cдaм кваpтиру в paйоне Высокий бeрeг с видoм н...

In [174]:
%%time
query_test=\
"""
select replace (phone, '+7','8') as "phone"
from inet_real_estate_parse_all
"""

CPU times: user 6 µs, sys: 2 µs, total: 8 µs
Wall time: 16.9 µs

In [175]:
df_test = load.get_dataframe(query_test)

In [176]:
df_test.head()

         phone
0  89180062949
1  89060868838
2  89859306140
3  89189573369
4  89307463366

In [231]:
%%time
qry_cnct_txt=\
"""
select city ||','|| phones as "city&phone"
from vk_real_estate_parse
"""

CPU times: user 6 µs, sys: 2 µs, total: 8 µs
Wall time: 17.2 µs

In [232]:
df_cnt = load.get_dataframe(qry_cnct_txt)

In [233]:
df_cnt.head(10)

               city&phone
0                       ,
1            Novosibirsk,
2                Barnaul,
3  41 years  Novosibirsk,
4                Barnaul,
5        Penza,9003150586
6                Rybinsk,
7                       ,
8                 Moscow,
9         Ufa,89631403777